body {
    margin: 0;
    min-height: 100vh;
    background-color: #ffa500; /* fallback */
    background-image: radial-gradient(circle at top, #be3333 0%, #ffa500 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h1 {
    text-align: center;
    color: black;
    font-family: 'Arial', sans-serif;
    margin-top: 20vh;
}
p {
    text-align: center;
    color: black;
    font-family: 'Arial', sans-serif;
    font-size: 1.2em;
}
a {
    color: rgb(211, 12, 12);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
button {
    background-color: #be3333;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
}
image {
    width: fit-content;
    height: fit-content;
}
table {
    width: 80%;
    margin: 20px auto;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-color: black;
}